const env = {
  database: "%NAME DB MYSQL",
  username: "%USER NAME ADMIN OF database",
  password: "%PWD AUSER ADMIN",
  host: "%HOST",
  dialect: "mysql",
  token: '%PRIVATE KEY'
};

module.exports = env;
